<div class="container">
    <div class="row">
        <div class="form-inline justify-content-center">
            <form [formGroup]="myForm" (ngSubmit)="submitForm()" class="row g-3 needs-validation" novalidate>

                <div class="col-md-4">
                  <label for="id" class="form-label">ID</label>
                  <input type="text" class="form-control" disabled id="id" [value]="course['id']" required>
                </div>
                
                <div class="col-md-4">
                  <label for="naziv" class="form-label">Naziv</label>
                  <input type="text" class="form-control" formControlName="naziv" id="naziv" required>
                  <!-- myForm.get('naziv').invalid && myForm.get('naziv').errors && (myForm.get('naziv').dirty || myForm.get('naziv').touched) -->
                  <div *ngIf="myForm.dirty">

                    <small class="text-danger" *ngIf="myForm.get('naziv').hasError('required')">
                        This field is required.
                    </small>
                    <small class="text-danger" *ngIf="myForm.get('naziv').hasError('minlength')">
                        The minimum length for this field is {{myForm.get('naziv').errors.minlength.requiredLength}} characters.
                    </small>

                    <small class="text-danger" *ngIf="myForm.get('opis').hasError('cannotContainWhitespaceOnly')">
                      This field must not contain whitespaces.
                   </small>

                  </div>
                </div>

                <div class="col-md-4">
                  <label for="autor" class="form-label">Autor</label>
                <!-- myForm.get('autor').invalid && myForm.get('autor').errors && (myForm.get('autor').dirty || myForm.get('autor').touched) -->
                    <input type="text" class="form-control" formControlName="autor" id="autor" [value]="course['autor']" aria-describedby="inputGroupPrepend" required>
                    <div *ngIf="myForm.dirty">

                      <small class="text-danger" *ngIf="myForm.get('autor').hasError('required')">
                          This field is required.
                      </small>
                      <small class="text-danger" *ngIf="myForm.get('autor').hasError('minlength')">
                          The minimum length for this field is {{myForm.get('autor').errors.minlength.requiredLength}} characters.
                      </small>

                      <small class="text-danger" *ngIf="myForm.get('autor').hasError('cannotContainWhitespaceOnly')">
                        This field must not contain whitespaces.
                      </small>
  
                    </div>                    
                 
                </div>

                <div class="col-lg-12">
                  <label for="opis">Opis:</label>
                  <textarea formControlName="opis" required class="form-control" rows="2" id="opis" required>{{course['opis']}}</textarea>
                  <!-- myForm.get('opis').invalid && myForm.get('opis').errors && (myForm.get('opis').dirty || myForm.get('opis').touched) -->
                  <div *ngIf="myForm.dirty">

                    <small class="text-danger" *ngIf="myForm.get('opis').hasError('required')">
                        This field is required.
                    </small>
                    <small class="text-danger" *ngIf="myForm.get('opis').hasError('minlength')">
                        The minimum length for this field is {{myForm.get('opis').errors.minlength.requiredLength}} characters.
                    </small>

                    <small class="text-danger" *ngIf="myForm.get('opis').hasError('cannotContainWhitespaceOnly')">
                        This field must not contain whitespaces.
                    </small>

                  </div>
                </div>

                

                <div class="col-md-3">
                  <label for="brojKorisnika" class="form-label">Broj korisnika</label>
                  <input type="text" class="form-control" id="brojKorisnika" disabled  [value]="course['brojKorisnika']">   
                </div>
                <div class="col-md-3">
                  <label for="brojLekcija" class="form-label">Broj lekcija</label>
                  <input type="text" class="form-control" id="brojLekcija" disabled [value]="course['brojLekcija']">
                </div>
                <div class="col-md-3">
                  <label for="kategorija" class="form-label">Kategorija</label>
                 
                  <ng-container *ngIf="categoryExist; else elseBlock">
                    <select formControlName="kategorija" class="form-select" id="kategorija" >
                      <option *ngFor="let category of categories" [ngValue]="category">
                        {{ category }}
                      </option>
                    </select>
                    <div *ngIf="myForm.dirty">
                      <small class="text-danger" *ngIf="myForm.get('kategorija').hasError('isUncategorized')">
                        You must select a category.
                      </small>
                    </div>
                  </ng-container>
              
                  <ng-template #elseBlock>
                    <select formControlName="kategorija" class="form-select" id="kategorija" >
                      <option  selected >Select category</option>
                      <option [ngValue]="category" *ngFor="let category of categories">{{ category }}</option>
                    </select>
                    <div *ngIf="myForm.dirty">
                      <small class="text-danger" *ngIf="myForm.get('kategorija').hasError('isUncategorized')">
                        You must select a category.
                      </small>
                  </div>
                  </ng-template>

                </div>
                <div class="col-md-3">
                  <label for="validationCustom07"class="form-label">Prosecna ocena</label>
                  <input type="text"  value="3.5"  disabled class="form-control" id="validationCustom07" required>
                </div>

                <div class="col-md-4">
                    <label for="cena" class="form-label">Cena</label>
                    <input type="number" formControlName="cena"  [value]="course['cena']"  class="form-control" id="cena" required>
                    <div *ngIf="myForm.dirty">
                      <small class="text-danger" *ngIf="myForm.get('cena').hasError('required')">
                        This field is required.
                      </small>
                      <small class="text-danger" *ngIf="myForm.get('cena').hasError('min') ">
                        Price must be 0 or positive number.
                      </small>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="jezik"class="form-label">Jezik</label>
                    <input type="text" formControlName="jezik"  [value]="course['jezik']"  class="form-control" id="jezik" required>
                    <div *ngIf="myForm.dirty">
                      <small class="text-danger" *ngIf="myForm.get('jezik').hasError('required')">
                        This field is required.
                      </small>
                      <small class="text-danger" *ngIf="myForm.get('jezik').hasError('minlength') ">
                        The minimum length for this field is {{myForm.get('jezik').errors.minlength.requiredLength}} characters.                     
                      </small>
                    </div>
                </div>


                <div class="col-md-4">
                    <label for="datumIzmene"class="form-label">Datum poslednje izmene</label>
                    <!-- [(ngModel)]="model" [value]="course['datumIzmene']" [startDate]="date2" -->
                    <div class="input-group">
                      <input type="text" class="form-control"  formControlName="datumIzmene"   name="dp"  ngbDatepicker #d="ngbDatepicker">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                      <div *ngIf="myForm.dirty">
                        <small class="text-danger" *ngIf="myForm.get('datumIzmene').hasError('required')">
                          This field is required.
                        </small>
                        <small class="text-danger" *ngIf="myForm.get('datumIzmene').hasError('invalidDate')">
                          Date must be in valid format.
                        </small>
                      </div> 
                    </div>
                </div>


                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input"  formControlName="sertifikovan" type="checkbox" checked="course['sertifikovan']" id="sertifikovan">
                    <label class="form-check-label" for="sertifikovan">
                      Sertifikovan
                    </label>
                  </div>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary" [disabled]="myForm.invalid || !myForm.dirty" type="submit">Submit form</button>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary" (click)="deactivate()" >Deactivate  course</button>
                </div>

                <div class="col-lg-12">
                  <label for="validationCustom03">Slika:</label>
                  <img src="{{course['slika']}}" class="card-img-top" alt="...">
                </div>

              </form>
        </div>
    </div>
</div>