<h4>Search courses</h4>

<form>
  <div class="mb-3 row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
    <div class="col-md-3 col-md-auto">
      <input id="table-filtering-search" placeholder="Pretraga po nazivu, kategoriji ili autoru" class="form-control" type="text" [formControl]="filter">
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Naziv</th>
    <th scope="col">Autor</th>
    <th scope="col">Kategorija</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses$ | async; index as i" [routerLink]="['/courses', course['id']]">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img [src]="'https://i.imgur.com/IfoRpDP.png'" class="me-2" style="width: 20px">
        <ngb-highlight [result]="course['naziv']" [term]="filter.value"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="course['autor']" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="course['kategorija']" [term]="filter.value"></ngb-highlight></td>
    </tr>
  </tbody>
</table>