<h4>Search users</h4>

<form>
  <div class="mb-3 row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
    <div class="col-md-3 col-md-auto">
      <input id="table-filtering-search"  placeholder="Pretraga po korisnickom imenu, email-u, imenu ili prezimenu" class="form-control" type="text" [formControl]="filter">
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Korisnicko ime</th>
    <th scope="col">Email</th>
    <th scope="col">Ime</th>
    <th scope="col">Prezime</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users$ | async; index as i" (click)="setUserComponentMode()" [routerLink]="['/users', user['key']]">
    <th scope="row">{{ i + 1 }}</th>
    <td><ngb-highlight  [accentSensitive]="true"  [result]="user['korisnickoIme']"  [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight  [accentSensitive]="true"  [result]="user['email']"          [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight  [accentSensitive]="true"  [result]="user['ime']"            [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight  [accentSensitive]="true"  [result]="user['prezime']"        [term]="filter.value"></ngb-highlight></td>
  </tr>
  </tbody>
</table>